@font-face {
  font-family: b;
  src: url(4_0.ttf);
}

@font-face {
  font-family: r;
  src: url(4.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "museo-sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f1f2f6;
  font-family: 'b', 'r';
}
*:focus {
  outline: none;
}

body {
  background-color: #ffffff;
}

#wrapper {
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 0;
  width: 100%;
}

#container {
  width: 720px;
  height: 480px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.information-column {
  width: 40%;
  height: 100%;
  overflow: hidden;
  float: right;
  position: relative;
  background-image: url("bliud.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: -moz-linear-gradient(-45deg, rgba(241, 242, 246, 0.9) 0%, rgba(227, 228, 232, 0.9) 45%, rgba(214, 215, 219, 0.9) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(241, 242, 246, 0.9) 0%, rgba(227, 228, 232, 0.9) 45%, rgba(214, 215, 219, 0.9) 100%);
  background: linear-gradient(135deg, rgba(241, 242, 246, 0.9) 0%, rgba(227, 228, 232, 0.9) 45%, rgba(214, 215, 219, 0.9) 100%);
}
.content h1 {
  width: 100%;
  font-size: 1.7em;
  color: #0051b2;
  text-shadow: -1px 1px 2px #ffc60a;
}
.content p {
  width: 100%;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.6em;
  position: absolute;
  bottom: 30px;
  color: #ff0000;
  opacity: 0.8;
}

.logo {
  width: 70%;
}

.form-column {
  width: 60%;
  height: 100%;
  padding: 22px;
  float: right;
  background: #2ebd59;
  background: -moz-linear-gradient(45deg, #2ebd59 0%, #32c95d 54%, #39e561 100%);
  background: -webkit-linear-gradient(45deg, #2ebd59 0%, #32c95d 54%, #39e561 100%);
  background: linear-gradient(45deg, #ffc60a 0%, #ffc60a 54%, #ffc60a 100%);
}

.subscribtion {
  width: 100%;
  overflow: hidden;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #f1f2f6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.subscribtion:nth-child(1) {
  margin-top: 24px;
}
.subscribtion h2 {
  width: 100%;
  font-size: 1.2em;
  padding-bottom: 8px;
  border-bottom: 1px solid #f1f2f6;
  margin-bottom: 8px;
}
.subscribtion p {
  width: 100%;
  font-size: 0.8em;
  
}
.subscribtion:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.subscribtion.active {
  background-color: #ffffff;
}
.subscribtion.active:nth-child(1) {
  margin-top: 0px;
}
.subscribtion.active h2 {
  color: #ffc60a;
  border-color: #ffc60a;
}
.subscribtion.active p {
  color: #ffc60a;
}
.subscribtion.hidden {
  height: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  opacity: 0;
}

.form {
  width: 100%;
  opacity: 0;
}
.form.active {
  opacity: 1;
}
.form label {
  display: block;
  width: 100%;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: right;
}
.form input {
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 12px;
  font-size: 0.8em;
  color: #ffffff;
  text-align: right;
}
.form input::-webkit-input-placeholder {
  color: #303030;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.form input::-moz-placeholder {
  color: #009432;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.form input:-ms-input-placeholder {
  color: #009432;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.form input:-moz-placeholder {
  color: #009432;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.form input:focus::-webkit-input-placeholder {
  color: #f1f2f6;
}
.form input:focus::-moz-placeholder {
  color: #f1f2f6;
}
.form input:focus:-ms-input-placeholder {
  color: #f1f2f6;
}
.form input:focus:-moz-placeholder {
  color: #f1f2f6;
}

.payment {
  margin-top: 12px;
}

.btn {
  width: 100%;
  float: left;
  margin-right: 4%;
  height: 40px;
  padding-top: 7px;
  text-align: center;
  background-color: #ffffff;
  color: #ffc60a;
  font-size: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn i {
  margin-left: 8px;
}

.free-button {
  width: 100%;
  margin-right: 0;
  margin-top: 8px;
  display: none;
}

.free-button.active {
  display: block;
}

.next {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.free-form.hidden {
  height: 0;
  opacity: 0;
  display: none;
}

.more{
  text-align: center;
  background-color: #ffc60a;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  margin: 0 auto;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  border-radius: 8px;
}












.middle {
  width: 102%;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 12px;
}

h1 {
  color: #fff;
  font-size:22px ;
  text-align: center;
}

.middle input[type=radio] {
  display: none;
}
.middle input[type=radio]:checked + .box {
  background-color: #0051b2;
}
.middle input[type=radio]:checked + .box span {
  color: white;
  transform: translateY(30px);
}
.middle input[type=radio]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  width: 120px;
  height: 110px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 10%;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 28px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.3em;
  user-select: none;
  color: #ffc60a;
}
.middle .box span:before {
  font-size: 1.2em;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

.middle p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}
.middle p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}